.section.row
  .col.s1
    .avatar
      %b.title= message.user.name
  .col.s9
    = message.body
  .col.s2
    %i.material-icons.circle.blue.lighten-2= message.dialect.icon_name
    %span.grey-text.lighten-2=l message.created_at, format: :short

.divider
