.row
  .col.s1
  .col.s7.grey.lighten-5
    .section#messages_container
      - @messages.each do |message|
        =render 'message', message: message
    .section
      .card-panel.hoverable
        %h5 New message
        %form
          %input#message_input{ maxlength: "140" }
          %h6#someone_typing

  .col.s3
    .card-panel.hoverable
      %ul.collection
        %li.collection-item.avatar
          %i.material-icons.circle.green face
          %span.title User1
        %li.collection-item.avatar
          %i.material-icons.circle.green face
          %span.title User2
      %p#users_online
  .col.s1
